# Dependencias
/node_modules
/coleccion-arte-ui/node_modules

# Archivos de entorno
.env

# Archivos de build de producción
/coleccion-arte-ui/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por el usuario o el proceso
/uploads
/backups
/error.txt
/guia_db.txt
/create_admin.js
/estructura_proyecto.txt
/inputs.txt
/tabla.txt
